[submodule "Sentence-VAE"]
	path = Sentence-VAE
	url = https://github.com/shreyansh26/Sentence-VAE
[submodule "VAE-Implementation"]
	path = VAE-Implementation
	url = https://github.com/shreyansh26/VAE-Implementation
[submodule "MinHash-Implemenation"]
	path = MinHash-Implemenation
	url = https://github.com/shreyansh26/MinHash-Implemenation
[submodule "Extracting-Training-Data-from-Large-Langauge-Models"]
	path = Extracting-Training-Data-from-Large-Langauge-Models
	url = https://github.com/shreyansh26/Extracting-Training-Data-from-Large-Langauge-Models
[submodule "ConvNeXt-Adversarial-Examples"]
	path = ConvNeXt-Adversarial-Examples
	url = https://github.com/shreyansh26/ConvNeXt-Adversarial-Examples
[submodule "ML-Optimizers-JAX"]
	path = ML-Optimizers-JAX
	url = https://github.com/shreyansh26/ML-Optimizers-JAX
[submodule "An-Empirical-Model-of-Large-Batch-Training"]
	path = An-Empirical-Model-of-Large-Batch-Training
	url = git@github.com:shreyansh26/An-Empirical-Model-of-Large-Batch-Training.git
[submodule "Gradient-Descent-on-Neural-Networks-Typically-Occurs-at-the-Edge-of-Stability"]
	path = Gradient-Descent-on-Neural-Networks-Typically-Occurs-at-the-Edge-of-Stability
	url = https://github.com/shreyansh26/Gradient-Descent-on-Neural-Networks-Typically-Occurs-at-the-Edge-of-Stability
[submodule "Lottery-Ticket-Hypothesis"]
	path = Lottery-Ticket-Hypothesis
	url = https://github.com/shreyansh26/Lottery-Ticket-Hypothesis
[submodule "Experiments-with-the-Neural-Tangent-Kernel"]
	path = Experiments-with-the-Neural-Tangent-Kernel
	url = https://github.com/shreyansh26/Experiments-with-the-Neural-Tangent-Kernel
