[submodule "Sentence-VAE"]
	path = Sentence-VAE
	url = https://github.com/shreyansh26/Sentence-VAE
[submodule "VAE-Implementation"]
	path = VAE-Implementation
	url = https://github.com/shreyansh26/VAE-Implementation
[submodule "MinHash-Implemenation"]
	path = MinHash-Implemenation
	url = https://github.com/shreyansh26/MinHash-Implemenation
[submodule "Extracting-Training-Data-from-Large-Langauge-Models"]
	path = Extracting-Training-Data-from-Large-Langauge-Models
	url = https://github.com/shreyansh26/Extracting-Training-Data-from-Large-Langauge-Models
[submodule "ConvNeXt-Adversarial-Examples"]
	path = ConvNeXt-Adversarial-Examples
	url = https://github.com/shreyansh26/ConvNeXt-Adversarial-Examples
[submodule "ML-Optimizers-JAX"]
	path = ML-Optimizers-JAX
	url = https://github.com/shreyansh26/ML-Optimizers-JAX
[submodule "An-Empirical-Model-of-Large-Batch-Training"]
	path = An-Empirical-Model-of-Large-Batch-Training
	url = git@github.com:shreyansh26/An-Empirical-Model-of-Large-Batch-Training.git
[submodule "Gradient-Descent-on-Neural-Networks-Typically-Occurs-at-the-Edge-of-Stability"]
	path = Gradient-Descent-on-Neural-Networks-Typically-Occurs-at-the-Edge-of-Stability
	url = https://github.com/shreyansh26/Gradient-Descent-on-Neural-Networks-Typically-Occurs-at-the-Edge-of-Stability
[submodule "Lottery-Ticket-Hypothesis"]
	path = Lottery-Ticket-Hypothesis
	url = https://github.com/shreyansh26/Lottery-Ticket-Hypothesis
[submodule "Experiments-with-the-Neural-Tangent-Kernel"]
	path = Experiments-with-the-Neural-Tangent-Kernel
	url = https://github.com/shreyansh26/Experiments-with-the-Neural-Tangent-Kernel
[submodule "Speculative-Sampling"]
	path = Speculative-Sampling
	url = git@github.com:shreyansh26/Speculative-Sampling.git
[submodule "FlashAttention-PyTorch"]
	path = FlashAttention-PyTorch
	url = git@github.com:shreyansh26/FlashAttention-PyTorch.git
[submodule "Red-Teaming-Language-Models-with-Language-Models"]
	path = Red-Teaming-Language-Models-with-Language-Models
	url = git@github.com:shreyansh26/Red-Teaming-Language-Models-with-Language-Models.git
[submodule "Hydragen-Attention"]
	path = Hydragen-Attention
	url = git@github.com:shreyansh26/Hydragen-Attention.git
[submodule "FlashAttention-Triton"]
	path = FlashAttention-Triton
	url = git@github.com:shreyansh26/FlashAttention-Triton.git
[submodule "LLM-Sampling"]
	path = LLM-Sampling
	url = git@github.com:shreyansh26/LLM-Sampling.git
[submodule "bpe"]
	path = bpe
	url = git@github.com:shreyansh26/bpe.git
[submodule "kv-cache-compression"]
	path = kv-cache-compression
	url = git@github.com:shreyansh26/kv-cache-compression.git
[submodule "dynamic-fine-tuning"]
	path = dynamic-fine-tuning
	url = git@github.com:shreyansh26/dynamic-fine-tuning.git
[submodule "multilora-llm-inference"]
	path = multilora-llm-inference
	url = git@github.com:shreyansh26/multilora-llm-inference.git
